* {
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: blueviolet;
}
/* 메인 */
.main{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 0 30px;
}
.main section{
  width: 30%;
  padding: 10px;
}
.face{
  text-align: center;
}
.face img{
  border-radius: 50%;
  width: 300px;
  height: 300px;
}
.section{
  border: 1px solid #ccc;
  border-radius: 40px;
}
.e-mail{
  text-align: center;
  margin-bottom: 40px;
}
.e-mail li{
  display: inline-block;
}
.name{
  text-align: center;
}
.ambition{
  display: block;
  margin-left: 20px;
}

